button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: var(--small-radius);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  /* Remove dotted box outlining button text on focus in Firefox */
  /* General order is link(a), :visited, :hover, :focus, :active */
  /* Removes browser outline on hover and active states */
  /* Add styles for focus which includes keyboard focus */
  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  /* Shared Styles */
  /* Shared Styles */
  /* Shared styles */
  /* Unique Text Button Styles - shares styles with Outlined Button */
  /* Unique Contained Button Styles */
  /* Unique Outlined Button Styles - shares styles with Text Button */
}

button::-moz-focus-inner {
  border: 0;
}

button:hover, button:focus, button:active {
  outline: none;
}

button:hover {
  color: var(--hover-color);
}

button:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (prefers-reduced-motion: no-preference) {
  button:focus-visible {
    -webkit-transition: var(--outline-transition);
    transition: var(--outline-transition);
  }
}

button:active {
  color: var(--active-color);
}

button:disabled, button[disabled] {
  background-color: transparent;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--disabled-text-color);
  cursor: not-allowed;
  outline: none;
}

button:disabled svg path, button[disabled] svg path {
  fill: var(--disabled-text-color);
}

button.text-button, button.contained-button, button.outlined-button {
  min-width: 4rem;
  padding: 0.75rem 1rem;
}

button.text-button.small-button, button.contained-button.small-button, button.outlined-button.small-button {
  min-width: 4rem;
  padding: 0.25rem 0.5rem;
}

button.contained-button, button.outlined-button {
  border-color: var(--primary-color);
}

button.text-button, button.outlined-button {
  color: var(--primary-color);
  /* Adds styles for hover */
  /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
  /* Adds the pressed state */
  /* disabled styles */
}

button.text-button:hover, button.outlined-button:hover {
  background-color: var(--hover-outlined-bg-color);
  color: var(--hover-color);
}

button.text-button:hover svg path, button.outlined-button:hover svg path {
  fill: var(--hover-color);
}

button.text-button:focus-visible, button.outlined-button:focus-visible {
  background-color: var(--focus-outlined-bg-color);
  color: var(--focus-color);
}

button.text-button:focus-visible svg path, button.outlined-button:focus-visible svg path {
  fill: var(--focus-color);
}

button.text-button:active, button.outlined-button:active {
  background-color: var(--active-outlined-bg-color);
  color: var(--active-color);
}

button.text-button:active svg path, button.outlined-button:active svg path {
  fill: var(--active-color);
}

button.text-button:disabled, button.text-button[disabled], button.outlined-button:disabled, button.outlined-button[disabled] {
  color: var(--disabled-text-color);
}

button.text-button:disabled svg path, button.text-button[disabled] svg path, button.outlined-button:disabled svg path, button.outlined-button[disabled] svg path {
  fill: var(--disabled-text-color);
}

button.text-button:disabled, button.text-button[disabled] {
  background-color: transparent;
  background: none;
}

button.contained-button {
  background-color: var(--primary-color);
  color: var(--white);
  /* Adds styles for hover */
  /* Additional Keyboard Focus */
  /* Adds the pressed state */
}

button.contained-button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--hover-text-color);
}

button.contained-button:focus-visible {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--focus-text-color);
}

button.contained-button:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
  color: var(--active-text-color);
}

button.contained-button:disabled, button.contained-button[disabled] {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: var(--disabled-text-color);
}

button.outlined-button {
  background-color: var(--white);
  /* Adds styles for hover */
  /* Additional Keyboard Focus */
  /* Adds the pressed state */
}

button.outlined-button:hover {
  background-color: var(--hover-outlined-bg-color);
  border-color: var(--hover-color);
}

button.outlined-button:focus-visible {
  border-color: var(--focus-color);
}

button.outlined-button:active {
  border-color: var(--active-color);
}

button.outlined-button:disabled, button.outlined-button[disabled] {
  background-color: var(--white);
  border-color: var(--disabled-color);
}
/*# sourceMappingURL=button.css.map */