input[checkbox] {
  /* Use to hide the input visually but still make it keyboard accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;
  /* Styled Radio Circle on checked */
  /* Focus styles only for keyboard */
  /* Disabled Label Styles */
  /* disabled checked - adds to the above styles  */
}

input[checkbox]:checked + label > .checkbox {
  border-color: var(--primary-color);
}

input[checkbox]:checked + label > .checkbox > svg {
  /* show checkmark */
  opacity: 1;
  fill: var(--primary-color);
}

input[checkbox]:focus-visible + label > .checkbox {
  border-color: var(--primary-color);
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

input[checkbox]:disabled + label {
  cursor: not-allowed;
  color: var(--disabled-text-color);
  /* Disabled Checkbox Styles */
}

input[checkbox]:disabled + label > .checkbox {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  cursor: not-allowed;
}

input[checkbox]:disabled:checked + label > .checkbox {
  border-color: var(--disabled-text-color);
}

input[checkbox]:disabled:checked + label > .checkbox > svg {
  fill: var(--disabled-text-color);
}

label.checkbox-label {
  color: var(--primary-text-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  position: relative;
  /* makes entire tile clickable */
}

label.checkbox-label:hover > .checkbox {
  border-color: var(--hover-color);
}

label.checkbox-label.error-state > .checkbox {
  border-color: var(--error-color);
}

label.checkbox-label.right-placement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label.checkbox-label.center-placement {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.checkbox-label.tile-checkbox:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.checkbox {
  background-color: var(--white);
  border: var(--radio-checkbox-border);
  border-radius: var(--small-radius);
  cursor: pointer;
  display: block;
  height: var(--radio-checkbox-size);
  width: var(--radio-checkbox-size);
}

.checkbox > svg {
  opacity: 0;
  vertical-align: initial;
}
/*# sourceMappingURL=checkbox.css.map */