html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html * {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  letter-spacing: 0.012rem;
  line-height: 1.5;
  word-spacing: 0.16rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

svg {
  display: inline-block;
  /* Font size is set on the svg since the width and height of the svg are set in ems.
    Without this an icon will be affected by a parents font size */
  font-size: 1rem;
  vertical-align: middle;
}

.visually-hidden {
  /* Use to hide something visually but still make it keyboard accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
/*# sourceMappingURL=global.css.map */