a {
  border: 2px solid transparent;
  border-radius: var(--small-radius);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  /* General order is link(a), :visited, :hover, :focus, :active */
  /* Removes browser outline on hover and active states */
  /* Add styles for focus which includes keyboard focus */
  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  /* Shared Styles */
  /* Shared styles */
  /* Inline Link - shares styles with Outlined and Text */
  /* ContainedLink */
  /*  Unique Outlined Link Styles - shares styles with Text Link  */
}

a:hover, a:focus, a:active {
  outline: none;
}

a:hover {
  color: var(--hover-color);
}

a:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (prefers-reduced-motion: no-preference) {
  a:focus-visible {
    -webkit-transition: var(--outline-transition);
    transition: var(--outline-transition);
  }
}

a:active {
  color: var(--active-color);
}

a.text-link, a.contained-link, a.outlined-link {
  border: 2px solid transparent;
  min-width: 4rem;
  padding: 0.75rem 1rem;
  /* Styles the forward and back arrow */
}

a.text-link.small-link, a.contained-link.small-link, a.outlined-link.small-link {
  min-width: 4rem;
  padding: 0.25rem 0.5rem;
}

a.text-link svg, a.contained-link svg, a.outlined-link svg {
  display: inline-block;
  vertical-align: initial;
}

a.text-link svg.back-arrow, a.contained-link svg.back-arrow, a.outlined-link svg.back-arrow {
  margin-right: 0.5rem;
}

a.text-link svg.forward-arrow, a.contained-link svg.forward-arrow, a.outlined-link svg.forward-arrow {
  margin-left: 0.5rem;
}

a.inline-link, a.text-link, a.outlined-link {
  /* Adds styles for hover */
  /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
  /* Adds the pressed state */
  /* Styles the forward and back arrow */
}

a.inline-link:hover, a.text-link:hover, a.outlined-link:hover {
  background-color: var(--hover-outlined-bg-color);
  color: var(--hover-color);
}

a.inline-link:hover svg path, a.text-link:hover svg path, a.outlined-link:hover svg path {
  fill: var(--hover-color);
}

a.inline-link:focus-visible, a.text-link:focus-visible, a.outlined-link:focus-visible {
  background-color: var(--focus-outlined-bg-color);
  color: var(--focus-color);
}

a.inline-link:focus-visible svg path, a.text-link:focus-visible svg path, a.outlined-link:focus-visible svg path {
  fill: var(--focus-color);
}

a.inline-link:active, a.text-link:active, a.outlined-link:active {
  background-color: var(--active-outlined-bg-color);
  color: var(--active-color);
}

a.inline-link:active svg path, a.text-link:active svg path, a.outlined-link:active svg path {
  fill: var(--active-color);
}

a.inline-link svg path, a.text-link svg path, a.outlined-link svg path {
  fill: var(--primary-color);
}

a.inline-link {
  border: none;
  text-decoration: underline;
}

a.contained-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
  /* Adds styles for hover */
  /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
  /* Adds the pressed state */
  /* Styles the forward and back arrow */
}

a.contained-link:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--hover-text-color);
}

a.contained-link:focus-visible {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--focus-text-color);
}

a.contained-link:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
  color: var(--active-text-color);
}

a.contained-link svg path {
  fill: var(--white);
}

a.outlined-link {
  background-color: var(--white);
  border-color: var(--primary-color);
  /* Adds styles for hover */
  /* Additional Keyboard Focus */
  /* Adds the pressed state */
}

a.outlined-link:hover {
  border-color: var(--hover-color);
}

a.outlined-link:focus-visible {
  border-color: var(--focus-color);
}

a.outlined-link:active {
  border-color: var(--active-color);
}
/*# sourceMappingURL=link.css.map */