input[radio] {
  /* Use to hide the input visually but still make it keyboard accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;
  /* Styled Radio Circle on checked */
  /* Focus styles only for keyboard */
  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  /* Disabled unchecked */
  /* disabled checked - adds to the above styles  */
}

input[radio]:checked + label > .radio {
  background-color: var(--primary-color);
  /* no border on checked */
  border: none;
  /* second value is in rem so the inner circle adjust size with font or zoom increase */
  -webkit-box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 0.25rem var(--white);
          box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 0.25rem var(--white);
}

input[radio]:focus-visible + label > .radio {
  border-color: var(--primary-color);
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (prefers-reduced-motion: no-preference) {
  input[radio]:focus-visible + label > .radio {
    -webkit-transition: var(--outline-transition);
    transition: var(--outline-transition);
  }
}

input[radio]:disabled + label {
  cursor: not-allowed;
  color: var(--disabled-text-color);
}

input[radio]:disabled + label > .radio {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  cursor: not-allowed;
}

input[radio]:disabled:checked + label > .radio {
  /* second value is in rem so the inner circle adjust size with font or zoom increase */
  -webkit-box-shadow: inset 0 0 0 1px var(--disabled-color), inset 0 0 0 0.25rem var(--white);
          box-shadow: inset 0 0 0 1px var(--disabled-color), inset 0 0 0 0.25rem var(--white);
}

label.radio-label {
  color: var(--primary-text-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  position: relative;
  /* makes entire tile clickable */
}

label.radio-label:hover > .radio {
  border-color: var(--hover-color);
}

label.radio-label.right-placement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label.radio-label.center-placement {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.radio-label.tile-radio:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.radio {
  background: var(--white);
  border: var(--radio-checkbox-border);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  min-height: var(--radio-checkbox-size);
  min-width: var(--radio-checkbox-size);
  height: var(--radio-checkbox-size);
  width: var(--radio-checkbox-size);
}
/*# sourceMappingURL=radio.css.map */