/* headings */
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

/* Standard paragraph */
p {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

/* Style Options */
.scale48 {
  font-size: clamp(2.25rem, var(--scaler), 3rem);
}

.scale40 {
  font-size: clamp(1.802rem, var(--scaler), 2.488rem);
}

.scale32 {
  font-size: clamp(1.602rem, var(--scaler), 2.074rem);
}

.scale28 {
  font-size: clamp(1.424rem, var(--scaler), 1.728rem);
}

.scale24 {
  font-size: clamp(1.266rem, var(--scaler), 1.44rem);
}

.scale20 {
  font-size: clamp(1.125rem, var(--scaler), 1.2rem);
}

.scale16 {
  font-size: var(--rpx16);
}

.scale14 {
  font-size: var(--rpx14);
}

/* Lists */
ul,
ol {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
/*# sourceMappingURL=typography.css.map */