button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: var(--small-radius);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;

  /* Remove dotted box outlining button text on focus in Firefox */
  &::-moz-focus-inner {
    border: 0;
  }

  /* General order is link(a), :visited, :hover, :focus, :active */
  /* Removes browser outline on hover and active states */
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: var(--hover-color);
  }

  /* Add styles for focus which includes keyboard focus */
  &:focus-visible {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  @media (prefers-reduced-motion: no-preference) {
    &:focus-visible {
      transition: var(--outline-transition);
    }
  }

  &:active {
    color: var(--active-color);
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    background: none;
    box-shadow: none;
    color: var(--disabled-text-color);
    cursor: not-allowed;
    outline: none;

    svg {
      path {
        fill: var(--disabled-text-color);
      }
    }
  }

  /* Shared Styles */
  &.text-button,
  &.contained-button,
  &.outlined-button {
    min-width: 4rem;
    padding: 0.75rem 1rem;

    &.small-button {
      min-width: 4rem;
      padding: 0.25rem 0.5rem;
    }
  }

  /* Shared Styles */
  &.contained-button,
  &.outlined-button {
    border-color: var(--primary-color);
  }

  /* Shared styles */
  &.text-button,
  &.outlined-button {
    color: var(--primary-color);

    /* Adds styles for hover */
    &:hover {
      background-color: var(--hover-outlined-bg-color);
      color: var(--hover-color);

      svg {
        path {
          fill: var(--hover-color);
        }
      }
    }
    /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
    &:focus-visible {
      background-color: var(--focus-outlined-bg-color);
      color: var(--focus-color);

      svg path {
        fill: var(--focus-color);
      }
    }

    /* Adds the pressed state */
    &:active {
      background-color: var(--active-outlined-bg-color);
      color: var(--active-color);

      svg path {
        fill: var(--active-color);
      }
    }

    /* disabled styles */
    &:disabled,
    &[disabled] {
      color: var(--disabled-text-color);

      svg {
        path {
          fill: var(--disabled-text-color);
        }
      }
    }
  }

  /* Unique Text Button Styles - shares styles with Outlined Button */
  &.text-button {
    &:disabled,
    &[disabled] {
      background-color: transparent;
      background: none;
    }
  }

  /* Unique Contained Button Styles */
  &.contained-button {
    background-color: var(--primary-color);
    color: var(--white);

    /* Adds styles for hover */
    &:hover {
      background-color: var(--hover-color);
      border-color: var(--hover-color);
      color: var(--hover-text-color);
    }

    /* Additional Keyboard Focus */
    &:focus-visible {
      background-color: var(--focus-color);
      border-color: var(--focus-color);
      color: var(--focus-text-color);
    }

    /* Adds the pressed state */
    &:active {
      background-color: var(--active-color);
      border-color: var(--active-color);
      color: var(--active-text-color);
    }

    &:disabled,
    &[disabled] {
      background-color: var(--disabled-color);
      border-color: var(--disabled-color);
      color: var(--disabled-text-color);
    }
  }

  /* Unique Outlined Button Styles - shares styles with Text Button */
  &.outlined-button {
    background-color: var(--white);

    /* Adds styles for hover */
    &:hover {
      background-color: var(--hover-outlined-bg-color);
      border-color: var(--hover-color);
    }

    /* Additional Keyboard Focus */
    &:focus-visible {
      border-color: var(--focus-color);
    }

    /* Adds the pressed state */
    &:active {
      border-color: var(--active-color);
    }

    &:disabled,
    &[disabled] {
      background-color: var(--white);
      border-color: var(--disabled-color);
    }
  }
}
