input[checkbox] {
  /* Use to hide the input visually but still make it keyboard accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;

  /* Styled Radio Circle on checked */
  &:checked + label > .checkbox {
    border-color: var(--primary-color);

    > svg {
      /* show checkmark */
      opacity: 1;
      fill: var(--primary-color);
    }
  }

  /* Focus styles only for keyboard */
  &:focus-visible + label > .checkbox {
    border-color: var(--primary-color);
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  /* Disabled Label Styles */
  &:disabled + label {
    cursor: not-allowed;
    color: var(--disabled-text-color);

    /* Disabled Checkbox Styles */
    > .checkbox {
      background-color: var(--disabled-color);
      border-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }

  /* disabled checked - adds to the above styles  */
  &:disabled:checked + label > .checkbox {
    border-color: var(--disabled-text-color);

    > svg {
      fill: var(--disabled-text-color);
    }
  }
}

label.checkbox-label {
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  position: relative;

  &:hover > .checkbox {
    border-color: var(--hover-color);
  }

  &.error-state > .checkbox {
    border-color: var(--error-color);
  }

  &.right-placement {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &.center-placement {
    align-items: center;
  }

  /* makes entire tile clickable */
  &.tile-checkbox:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.checkbox {
  background-color: var(--white);
  border: var(--radio-checkbox-border);
  border-radius: var(--small-radius);
  cursor: pointer;
  display: block;
  height: var(--radio-checkbox-size);
  width: var(--radio-checkbox-size);

  > svg {
    opacity: 0;
    vertical-align: initial;
  }
}
