a {
  border: 2px solid transparent;
  border-radius: var(--small-radius);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  /* General order is link(a), :visited, :hover, :focus, :active */
  /* Removes browser outline on hover and active states */
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: var(--hover-color);
  }

  /* Add styles for focus which includes keyboard focus */
  &:focus-visible {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  @media (prefers-reduced-motion: no-preference) {
    &:focus-visible {
      transition: var(--outline-transition);
    }
  }

  &:active {
    color: var(--active-color);
  }

  /* Shared Styles */
  &.text-link,
  &.contained-link,
  &.outlined-link {
    border: 2px solid transparent;
    min-width: 4rem;
    padding: 0.75rem 1rem;

    &.small-link {
      min-width: 4rem;
      padding: 0.25rem 0.5rem;
    }

    /* Styles the forward and back arrow */
    svg {
      display: inline-block;
      vertical-align: initial;

      &.back-arrow {
        margin-right: 0.5rem;
      }
      &.forward-arrow {
        margin-left: 0.5rem;
      }
    }
  }

  /* Shared styles */
  &.inline-link,
  &.text-link,
  &.outlined-link {
    /* Adds styles for hover */
    &:hover {
      background-color: var(--hover-outlined-bg-color);
      color: var(--hover-color);

      svg {
        path {
          fill: var(--hover-color);
        }
      }
    }

    /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
    &:focus-visible {
      background-color: var(--focus-outlined-bg-color);
      color: var(--focus-color);

      svg {
        path {
          fill: var(--focus-color);
        }
      }
    }

    /* Adds the pressed state */
    &:active {
      background-color: var(--active-outlined-bg-color);
      color: var(--active-color);

      svg {
        path {
          fill: var(--active-color);
        }
      }
    }
    /* Styles the forward and back arrow */
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }

  /* Inline Link - shares styles with Outlined and Text */
  &.inline-link {
    border: none;
    text-decoration: underline;
  }

  /* ContainedLink */
  &.contained-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);

    /* Adds styles for hover */
    &:hover {
      background-color: var(--hover-color);
      border-color: var(--hover-color);
      color: var(--hover-text-color);
    }

    /* Additional Keyboard Focus - shared outline styles are set in BaseLink from Focus Styles */
    &:focus-visible {
      background-color: var(--focus-color);
      border-color: var(--focus-color);
      color: var(--focus-text-color);
    }

    /* Adds the pressed state */
    &:active {
      background-color: var(--active-color);
      border-color: var(--active-color);
      color: var(--active-text-color);
    }
    /* Styles the forward and back arrow */
    svg {
      path {
        fill: var(--white);
      }
    }
  }

  /*  Unique Outlined Link Styles - shares styles with Text Link  */
  &.outlined-link {
    background-color: var(--white);
    border-color: var(--primary-color);

    /* Adds styles for hover */
    &:hover {
      border-color: var(--hover-color);
    }

    /* Additional Keyboard Focus */
    &:focus-visible {
      border-color: var(--focus-color);
    }

    /* Adds the pressed state */
    &:active {
      border-color: var(--active-color);
    }
  }
}
