input[radio] {
  /* Use to hide the input visually but still make it keyboard accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: auto;
  white-space: nowrap;

  /* Styled Radio Circle on checked */
  &:checked + label > .radio {
    background-color: var(--primary-color);
    /* no border on checked */
    border: none;
    /* second value is in rem so the inner circle adjust size with font or zoom increase */
    box-shadow: inset 0 0 0 1px var(--primary-color),
      inset 0 0 0 0.25rem var(--white);
  }

  /* Focus styles only for keyboard */
  &:focus-visible + label > .radio {
    border-color: var(--primary-color);
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  /* Safari doesn't support animating the offset and doesn't support :focus-visible
  so ignores this and applies the default above */
  @media (prefers-reduced-motion: no-preference) {
    &:focus-visible + label > .radio {
      transition: var(--outline-transition);
    }
  }

  /* Disabled unchecked */
  &:disabled + label {
    cursor: not-allowed;
    color: var(--disabled-text-color);

    > .radio {
      background-color: var(--disabled-color);
      border-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }

  /* disabled checked - adds to the above styles  */
  &:disabled:checked + label > .radio {
    /* second value is in rem so the inner circle adjust size with font or zoom increase */
    box-shadow: inset 0 0 0 1px var(--disabled-color),
      inset 0 0 0 0.25rem var(--white);
  }
}

label.radio-label {
  color: var(--primary-text-color);
  cursor: pointer;
  display: flex;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  position: relative;

  &:hover > .radio {
    border-color: var(--hover-color);
  }

  &.right-placement {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &.center-placement {
    align-items: center;
  }

  /* makes entire tile clickable */
  &.tile-radio:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.radio {
  background: var(--white);
  border: var(--radio-checkbox-border);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  min-height: var(--radio-checkbox-size);
  min-width: var(--radio-checkbox-size);
  height: var(--radio-checkbox-size);
  width: var(--radio-checkbox-size);
}
